// app global css in SCSS form
@import 'quasar.variables.scss';
@import './layout.scss';
@import "./auth.scss";
@import './tabsDesign.scss';
@import './tableComp.scss';
@import './addEditPages.scss';

