.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    text-align: center;
    width: 100%;
    background-color: transparent;

    .empty-state-content {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .empty-state-title {
            font-size: 24px;
            font-weight: 500;
            color: #1F2933;
            margin: 0;
            line-height: 1.4;
        }

        .empty-state-description {
            font-size: 1rem;
            color:#4B5563;

            line-height: 1.6;
        }

        .empty-state-btn {
            background-color: #2F5D6A !important;
            color: #ffffff !important;
            padding: 0.5rem 1.5rem;
            border-radius: 8px;
            font-size: 0.875rem;
            font-weight: 500;
            min-width: 142px;
            transition: all 0.2s ease;
            svg{
                margin-right: 0.5rem;
            }

            &:hover {
                background-color: #264952 !important;
                transform: translateY(-1px);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
