body{
  background-color: #F9FAFB;
}
.main_layout {
  .q-drawer {
    background-color: #2F5D6A;
  }
  .breadcrumbs_custom {
    padding: 14px 24px;
    display: flex;
    align-items: center;

    svg
    {
      margin-top: 8px;
    }
  .q-breadcrumbs {
    display: flex;
    align-items: center;

    .q-link {
      font-size: 14px;
      color: #6B7280;
      font-weight: 500;
    }


    .q-router-link--exact-active {
      color: #1F2933;
    }
  }
}
}

