body {
  background-color: #f9fafb;
}

.main_layout {
  .q-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    height: 72px;
    display: flex;
    align-items: center;

    .header-search {
      width: 480px;
      border-radius: 10px;

      .q-field__control {
        background-color: #f9fafb;
        border-color: #e5e7eb;
        height: 44px;

        &:before {
          border-color: #e5e7eb !important;
        }
      }

      .q-field__prepend {
        padding-right: 8px;
      }

      input {
        font-size: 14px;
        color: #6b7280;
      }
    }

    .user-profile-header {
      svg{
        margin-right: 8px;
      }
      .user-name {
        font-size: 15px;
        color: #1f2937;
      }

      .user-stats {
        margin-top: -2px;
        font-size: 13px;

        span:first-child {
          letter-spacing: 2px;
          font-weight: bold;
        }
      }
    }
  }

  .q-drawer {
    background-color: #2f5d6a;

    .q-drawer__content {
      height: 100%;
    }

    .q-item__label.q-item__label--header {
      padding: 1rem 0 0 0;
    }

    .logo {
      margin: 1rem 1rem 0rem 1rem;
      padding: 1rem 0rem;
      border-bottom: 1px solid #3a6f7e;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
    }

    .q-item {
      color: #d1d5db;
      transition: all 0.3s ease;

      border-radius: 0.5rem;
      margin: 0.5rem 1rem;

      .q-item__label {
        font-size: 16px;
      }

      &.q-router-link--exact-active {
        background-color: #4c8696;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 600;
      }

      &:hover:not(.q-router-link--exact-active) {
        background-color: rgba(255, 255, 255, 0.05);
      }

      .q-item__section--avatar {
        min-width: min-content;
      }
    }

    .drawer-footer {
      margin-top: auto;
      padding-bottom: 24px;
      position: fixed;
      bottom: 0;
    }

    .logout-item {
      min-height: 48px;

      .logout-text {
        color: #d1d5db;
        font-size: 16px;
        font-weight: 400;
        margin-left: -8px;
      }
    }

    &.mini-logo {
      padding: 1rem 0;
      justify-content: center;
      margin: 1rem 0.5rem 0rem 0.5rem;
    }

    &.q-drawer--mini {
      .logo {
        padding: 1rem 0;
        justify-content: center;
        margin: 1rem 0.5rem 0rem 0.5rem;
        border-bottom: none;
      }

      .q-item {
        margin: 0.5rem auto;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
        min-height: 40px;

        .q-item__section--avatar {
          margin-right: 0;
          padding-right: 0;
        }
      }

      .drawer-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;

        .logout-item {
          justify-content: center;
          width: 100%;
          margin: 0;

          .q-item__section--avatar {
            margin-right: 0;
          }
        }
      }
    }

    .copyright-text {
      color: #9ca3af;
      font-size: 13px;
      opacity: 0.8;
      font-weight: 400;
    }
  }

  .breadcrumbs_custom {
    padding: 14px 24px;
    display: flex;
    align-items: center;

    svg {
      margin-top: 8px;
    }

    .q-breadcrumbs__el {
      &.q-link {
        font-size: 14px;
        color: #6b7280 !important;
        font-weight: 500;
        text-decoration: none;

        &.q-router-link--exact-active {
          color: #1f2933 !important;
        }
      }
    }
  }
}