.custom-popup {
  border-radius: 12px;
  background-color: #fff;
  width: 30rem !important;

  .q-card-section {
    padding: 24px;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .popup-title {
      font-size: 20px;
      font-weight: 500;
      color: #1f2933;
      margin: 0;
    }

    .close-btn {
      color: #9ca3af;
      margin-top: -8px;
      margin-right: -8px;
    }
  }

  .popup-subtitle {
    font-size: 14px;
    color: #4b5563;
    // margin-bottom: 24px;
  }

  .popup-divider {
    height: 1px;
    background-color: #f3f4f6;
    margin: 1rem 0;
  }

  .form-group {
    margin-bottom: 1.5rem;

    label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: #374151;
      margin-bottom: 8px;

      span {
        color: #dc2626;
      }
    }

    .form-group-label {
      color: #6b7280;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 4px;
    }

    .form-group-value {
      font-size: 16px;
      font-weight: 500;
      color: #1f2933;
    }

    .custom-input,
    .custom-select {
      .q-field__control {
        background-color: #f9fafb;
        border: 1px solid #e5e9f0;
        border-radius: 8px;

        &:before {
          border: 1px solid #e5e7eb;
        }

        &:hover:before {
          border-color: #d1d5db;
        }
      }

      &.q-field--focused .q-field__control:after {
        border-color: #2f5d6a;
      }
    }
  }

  .popup-badge {
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;

    &.stock-out {
      border: 1px solid #C81E1E;
      color: #c81e1e;
      background-color: #FDE8E8;
    }

    &.stock-in {
      border: 1px solid #4CAF50;
      color: #4CAF50;
      background-color: #E8F5E9;
    }

    &.warning-badge {
      background-color: #FEF3C7;
      color: #B45309;
      border: 1px solid #B45309;
    }
  }

  .popup-actions {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 32px;

    .q-btn {
      flex: 1;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      text-transform: none;
      font-weight: 400;
      font-size: 14px;
      box-shadow: none;
    }

    .btn-cancel {
      background-color: #f9fafb;
      color: #4b5563;
      border: 1px solid #e5e7eb;

      max-width: 99px;
    }

    .btn-save-add {
      background-color: #fff;
      color: #374151;
      border: 1px solid #2f5d6a;
      padding: 10px 16px;
    }

    .btn-save-close {
      background-color: #2f5d6a;
      color: #fff;
      padding: 10px 26px;
      max-width: 142px;
    }
  }
}

//style for staff , profile popup

.edit-view-card {
  min-width: 960px;
  max-width: 1100px;
  height: 37.5rem;
  border-radius: 12px;

  .sidebar {
    background-color: #2f5d6a;
    width: 13.5rem;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .sidebar-separator {
      margin: 1rem 0;
      color: #3A6F7E;
    }

    .profile-section {
      padding: 0 1rem;
      text-align: center;
    }

    .profile-image {
      width: 155px;
      height: 155px;
      border-radius: 14px;
      // display: block;
      // margin: 0 auto 16px auto;
      object-fit: cover;
    }

    .change-photo-btn {
      background-color: white;
      color: #4B5563;
      border-radius: 8px;
      // padding: 8px 18px;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid #e5e7eb;
      max-width: 155px;

      &:hover {
        background-color: #f9fafb;
      }

      svg {
        margin-left: 8px;
      }
    }

    .tab-item {
      padding: 12px 16px;
      cursor: pointer;
      border-radius: 8px;
      margin-bottom: 8px;
      color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s ease;


      &.active {
        background-color: #5c8a95;
        color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-weight: 600;
      }

      &:hover:not(.active) {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .tab-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-right: 16px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .tab-label {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .main-content {

    background-color: white;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;

      .title {
        font-size: 20px;
        font-weight: 600;
        color: #1a202c;
      }

      .subtitle {
        font-size: 14px;
        color: #718096;
      }

      .close-btn {
        color: #a0aec0;
      }
    }

    .popup-form-grid {
      padding: 16px 24px; // Replaces q-py-md (16px) q-px-lg (24px)
      margin-left: -24px; // Replaces q-col-gutter-x-lg
      margin-top: -16px; // Replaces q-col-gutter-y-md
      width: calc(100% + 24px);

      >div {
        padding-left: 24px; // Replaces q-col-gutter-x-lg
        padding-top: 16px; // Replaces q-col-gutter-y-md
      }
    }

    .field-label {
      font-size: 13px;
      font-weight: 500;
      color: #1F2933 ;
      margin-bottom: 8px;

      .required {
        color: #e53e3e;
        margin-left: 2px;
      }
    }

     .field-label-view {
      font-size: 13px;
      font-weight: 500;
      color: #6B7280;
      margin-bottom: 8px;

      .required {
       display: none;
      }
    }
    .field-value{
      font-size: 16px;
      font-weight: 500;
      color: #1F2933;
      margin-bottom: 8px;
    }

    .h-input {
      height: 40px;
    }

    .q-field--outlined {
      .q-field__control {
        background-color: #f8fafc !important;
        border-radius: 8px !important;
        border: 1px solid #edf2f7 !important;

        &:before,
        &:after {
          display: none;
        }

        &.q-field__control--focused {
          border-color: #2f5d6a !important;
        }
      }

      .q-field__native {
        color: #4a5568 !important;
      }
    }

    .document-card {
      background-color: #f9fafb;
      border: 1px solid #e5e7eb;
      border-radius: 8px;
      min-height: 56px;
      transition: all 0.2s ease;

      &:hover:not(.has-file) {
        border-color: #2f5d6a;
        background-color: #f3f4f6;
      }

      .file-icon {
        width: 36px;
        height: 36px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;


      }

      .file-name {
        font-size: 13px;
        color: #111827;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .file-size {
        font-size: 11px;
      }

      .placeholder-text {
        font-size: 13px;
        color: #111827;
      }
    }

    .footer {
      // border-top: 1px solid #edf2f7;
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 1rem 1rem 0rem 1.5rem;
      gap: 12px;

      .q-btn {
        min-width: 156px;
      }

      .cancel-btn {
        color: #4B5563;
        background-color: #f8fafc;
        border: 1px solid #edf2f7;
        padding: 8px 32px;
        border-radius: 8px;
        font-weight: 500;
      }

      .save-btn {
        background-color: #2f5d6a;
        color: white;
        padding: 8px 35px;
        border-radius: 8px;
        font-weight: 500;

        &:hover {
          background-color: #264b56;
        }
      }
    }
  }
}
