.student-tabs {
  background-color: #ffffff;
  .q-tabs__content {
    justify-content: flex-start;
  }
  .q-tab {
    min-height: 48px;
    color: #6B7280;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;

    &.q-tab--active {
      color: #4C8696;

      .q-tab__indicator {
        height: 2px;
        background: #4C8696 !important;
        // bottom: 0;
      }
    }

    .q-tab__label {
      font-weight: 400;
    }
  }
}

// Tab panels - clean white background
.q-tab-panels {
  padding: 0 !important;
  background-color: #F9FAFB;


  .q-tab-panel {
    margin-top: 1rem;
    padding: 0 !important;
     .table_content {
    margin: 0rem;
    padding: 0rem;
  }
  }
}
